#chef-of-the-week {
  padding-left: 8.5vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 8vw;
  gap: 2.8vw;
}
#chef-of-the-week h1 {
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 2vw;
  line-height: 35px;
  letter-spacing: 1.25px;
  text-align: center;
}
#chef-info {
  gap: 4.5vw;
  display: flex;
  align-items: center;
}
#chef-img {
  display: flex;
  flex-direction: column;
  position: relative;
}
#chef-img img {
  height: 26vw;
  width: 33vw;
  object-fit: cover;
}
#chef-img h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  bottom: -0.1vw;
  height: 5.5vw;
  font-size: 3vw;
}
#chef-about {
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 2.5vw;
  letter-spacing: 1.25px;
  text-align: justify;
  width: 44vw;
}

#rest-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
  gap: 3vw;
}
#rest-div h1 {
  align-self: start;
  font-size: 2.4vw;
  font-weight: bold;
  line-height: 3vw;
  letter-spacing: 1.25px;
  text-align: left;
}
#rest-div section {
  display: flex;
  justify-content: center;
  gap: 1vw;
}
#single-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

#single-div img {
  height: 15vw;
  width: 16vw;
  object-fit: cover;
}
#single-div-name {
  background-color: rgba(249, 244, 234, 1);
  height: 9vw;
  width: 100%;
  justify-content: center;
}
#single-div h1 {
  font-family: "Helvetica";
  margin-top: 1.5vw;
  font-size: 2.5vw;
  font-weight: bold;
  line-height: 47px;
  letter-spacing: 2.6700000762939453px;
  text-align: center;
}

@media screen and (max-width: 450px) {
  #chef-of-the-week {
    align-items: center;
    text-align: left;
    padding-left: 1vw;
  }
  #chef-info {
    gap: 4.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #chef-of-the-week h1 {
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 5vw;
    line-height: 35px;
    letter-spacing: 1.25px;
    align-self: flex-start;
  }
  #chef-info {
    gap: 4.5vw;
    display: flex;
    align-items: center;
  }
  #chef-img {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #chef-img img {
    height: 70vw;
    width: 90vw;
    object-fit: cover;
  }
  #chef-img h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    bottom: -0.1vw;
    height:13.5vw;
    font-size: 5vw;
    align-self:start;
  }
  #chef-about {
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 5vw;
    line-height: 7vw;
    letter-spacing: 1.25px;
    text-align: justify;
    width: 90%;
  }
  
  #rest-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 5vw;
    gap: 3vw;
    width: 80vw;
  }
  #rest-div h1 {
    align-self: start;
    font-size: 5vw;
    font-weight: bold;
    line-height: 5vw;
    letter-spacing: 1.25px;
    text-align: left;
  }
  #rest-div section {
    display: flex;
    justify-content: start;
    gap: 5vw;
    overflow-x: scroll;
    width: 100%;
  }
  #single-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #single-div img {
    height: 40vw;
    width: 65vw;
    object-fit: cover;
  }
  #single-div-name {
    background-color: rgba(249, 244, 234, 1);
    height: 21vw;
    width: 100%;
    justify-content: start;
  }
  #single-div h1 {
    padding-left: 6vw;
    font-family: "Helvetica light";
    margin-top: 5vw;
    font-size: 5vw;
    font-weight: bold;
    line-height: 47px;
    letter-spacing: 2.6700000762939453px;
    text-align: left;
  }
}
