
.open-sort h1 {
  font-size: 1.25vw;
  font-weight: 200;
  line-height: 1.5vw;
  letter-spacing: 1.9px;
  cursor: pointer;
  text-align: center;
}
.open-sort {
  display: flex;
  align-items: center;
  justify-content: center;
  all: unset;
  height: 6.5vw;
  width: 13vw;
  padding: 0 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.open-sort img {
  height: 1.6vw;
}
.open-sort:focus {
  height: 6.5vw;
  width: 13vw;
  border-radius: 0px;
  background: rgba(208, 207, 207, 1);
}
@media screen and (max-width: 450px){
  
}


