#sign-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sign-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8vw;
  box-shadow: 0 10px 10px gray;
  padding: 2vw;
}
#sign-title {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
#sign-title h1 {
  text-align: center;
  font-family: "Helvetica light";
  font-size: 2vw;
  line-height: 2vw;
  letter-spacing: 2.6700000762939453px;
}
#sign-title h2 {
  text-align: center;
  font-family: "Helvetica";
  font-size: 1.5vw;
  line-height: 2vw;
  letter-spacing: 2.6700000762939453px;
}
#sign-details {
  gap: 0;
}
#sign-details input {
  all: unset;
  margin-bottom: 1vw;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  text-align: left;
  width: 24vw;
  align-self: flex-start;
  font-family: Helvetica light;
}
#sign-details label {
  align-self: flex-start;
  color: rgba(151, 151, 151, 1);
  font-family: Helvetica light;
  font-size: 1.2vw;
  line-height: 1.25vw;
  letter-spacing: 1.97px;
  text-align: center;
  margin-bottom: 1vw;
}
#sign-details input::placeholder {
  font-family: Helvetica light;
  font-size: 1.2vw;
  line-height: 1.25vw;
  letter-spacing: 1.97px;
  text-align: left;
}
#black-style {
  background-color: black;
  color: white;
}
#sign-details p {
  cursor: pointer;
  font-family: Helvetica light;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.25vw;
  letter-spacing: 1.9px;
  text-align: center;
}
#sign-main section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
#sign-main section hr {
  all: unset;
  border: 1px rgba(151, 151, 151, 1) solid;
  width: 11vw;
  height: 0;
}
.sign-in-btn {
  all: unset;
  height: 3.3vw;
  width: 14vw;
  background: rgb(255, 255, 255);
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px 24px;
  font-family: Helvetica light;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 1.3vw;
  letter-spacing: 2.67px;
  border: 2px black solid;
}
#black-style:hover {
  background-color: rgba(81, 81, 81, 1);
  cursor: pointer;

}
.sign-in-btn:hover {
    cursor: no-drop;
}
